@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #d72050; /* Vibrant pink */
  --color-secondary: #10b981; /* Fresh green */
  --color-accent: #2563eb; /* Strong CTA blue */
  --color-base-200: #f9fafb; /* Light background */
  --color-base-300: #e5e7eb; /* Light gray sections/cards */
  --color-neutral: #1f2937; /* Dark gray for text & contrast */
}

a.active {
  color: indigo;
}
